body {
	margin: 0 auto;
	width: 455px;
	height: 454px;
}

.colorDiv {
	position: relative;
	width: 20%;
	height: 104px;
	display: inline-block;
	bottom: -350px;
}

.blackDiv {
	top: 100px;
	background-color: #000;
	width: 455px;
	height: 350px;
}